# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.dsym
linked_*.dsym.zip
.united_debug/
.idea/
*.iml
*.lock
*.swp
*.swo
.vscode/
coverage/
*.g.dart
*.freezed.dart
.dart_tool/
.gradle/
lib/generated/
local.properties
*.jar
*.h
*.m
ios/Flutter/
android/app/src/main/java/
android/.gradle/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties
android/key.properties
*.jks
*.keystore
keystore.jks
git_stub.py
.DS_Store
